:root {
    font-size: calc(10vw / 19.2);
    font-family: 'NanumSquare',sans-serif;
    --point-color: rgb(77,81,211);
    --point-background-color: rgb(215, 215, 255);
}
html, body, #__next, .layout {
    position: relative;
    width: 100%;
    height: 100%;
}
a {
    color: inherit;
    font-family: 'NanumSquareRound',sans-serif;
    font-weight: 900;
    text-decoration: none;
}